body {

      font-family: " Times New Roman",serif;
}

.row {
         
      margin: 50px 50px 50px 50px; 
      text-align: center;

}

.card:hover {

	  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.container {
     
       margin-top: 50px;
}


.button input {

	margin: 0 20px 0 20px;
}

.offcanvas.offcanvas-start {

      width: 280px;
}

.offcanvas-body {

      line-height: 35px;
}

@media (max-width:992px)
{
      .bi{
            visibility: hidden;
      }
}

.nav-link:hover {

         color: white;
}

.active {

      color: white;
}